includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
    level: 8
    parallel:
        maximumNumberOfProcesses: 16
    paths:
        - src
        - tests
    checkGenericClassInNonGenericObjectType: true # https://phpstan.org/blog/generics-in-php-using-phpdocs
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: true # Enforce all iterables to have type defined https://phpstan.org/blog/solving-phpstan-no-value-type-specified-in-iterable-type
